/* Normally need to restart Zotero for these to take effect */

/* Add, save, reset buttons */
table > button {
	margin: 5px;
}

/* Up, down, delete buttons in rows */
td > button {
	margin-left: 2px;
	margin-right: 2px;
	font-size: 120%;
}

table th {
	text-align: left;
	margin-left: 6px;
}

input:invalid {
	color: rgb(255, 20, 20);
}
